.projects{
    background-color:#ffffff;
    height: 100vh;

    @media (max-width: 768px) {
        height: 170vh;
    }

    .projects__container{
        margin-left: 5vw;
        margin-right: 5vw;
        padding: 1.5vw; 
        margin-top: vh;

        .projects__title{
            font-family: Poppins,'sans-serif';
            padding: 0.5vw ;

        }

        .projects__title > h1 {
            display: inline-block;
            font-size: 2.5vw;
            text-transform: uppercase;
            font-weight: 700;
            color: #000000;
            position: relative; 
    
            
            @media (max-width:768px){
                font-size: 6vw;
            }
        }

        .projects__title > h1:before{
            content: '';
            left: 0;
            right: 30%;
            position: absolute;
            height: 2px;
            background-color: black;
            bottom: 0px;
        }

        .projects__content{
            width: 100%;    
            display: grid;
            // flex-direction:;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            grid-template-columns: auto auto auto;  
            margin-top: 30px;

            @media (max-width:800px){
                display: flex;  
        
                flex-direction: column;
            }  
        }
    }
}   